
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #FFF;
  display: block;
  margin: 0 auto;
  width: 980px;
  font-family: 'Times New Roman', 'Times', serif;
  font-size: 18px;
  line-height: 1.4em;
  color: #333;
}

a:link, 
a:visited {
  background: none;
  text-decoration: none;
  border-bottom: 1px dotted;
  color: blue;
}
a:hover, 
a:active {
  background: blue;
  border-bottom: 1px solid;
  color: #FFF;
}

img {
  border-width: 0;
  float: left;
  display: block;
  margin: 0 10px 0 2px;
}

.clear {
  clear: both;
  overflow: hidden;
  height: 1px;
}

blockquote {
  border-left: 1px dotted #333;
  border-right: 1px dotted #333;
  margin: 20px;
  padding: 0 10px;
  font-style: italic;
}

h1, 
h2, 
h3 {
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-weight: bolder;
  letter-spacing: -1px;
  color: #000;
}

h1 {
  font-size: 32px;
  line-height: 1.6em;
}

h2 {
  font-size: 26px;
  line-height: 1.5em;
}

h3 {
  font-size: 20px;
  line-height: 1.4em;
}

ul {
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-size: 14px;
  list-style: none;
}

li {
  display: list-item;
}

nav {
  float: left;
  height: 30px;
}

nav ul {
  margin-left: 20px;
}

nav li {
  float: left;
  margin-right: 20px;
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
}

nav a:link, 
nav a:visited {
  background: none;
  padding: 5px 5px;
  border: none;
  color: #FFF;
}

nav a:hover, 
nav a:active {
  background: #FFF;
  color: #000;
}

article {
  float: left;
  margin: 10px 20px;
}

footer {
  float: left;
  margin: 0 20px;
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-size: 11px;
  color: #999;
}

footer a:link, 
footer a:visited {
  background: none;
  color: #999;
}

footer a:hover, 
footer a:active {
  background: blue;
  text-decoration: none;
  color: #FFF;
}

#topbar, 
#botbar {
  background-color: #666;
  float: left;
  margin: 5px 0;
  width: 980px;
  height: 30px;
}

#botbar {
  height: 20px;
}

#content {
  float: left;
  width: 980px;
  height: 100%;
}

#home .home a:link, #home .home a:visited, #home .home a:hover, #home .home a:active,
#about .about a:link, #about .about a:visited, #about .about a:hover, #about .about a:active,
#projects .projects a:link, #projects .projects a:visited, #projects .projects a:hover, #projects .projects a:active {
  background: #FFF;
  color: #000;
}