
/* doc elements */
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #FFF;
  display: block;
  margin: 0 auto;
  width: 980px;
  font-family: 'Times New Roman', 'Times', serif;
  font-size: 14px;
  line-height: 1.4em;
  color: #333;
}

a:link, a:visited {
  background: none;
  text-decoration: underline;
  color: #DC0000;
}
a:hover, a:active {
  background: #333;
  text-decoration: none;
  color: #FFF;
}

a img {
  border-width: 0;
}

.clear {
  clear: both;
  overflow: hidden;
  height: 1px;
}

blockquote {
  border-left: 1px solid #333;
  border-right: 1px solid #333;
  margin: 20px 20px 20px 0;
  padding: 0 10px;
  font-style: italic;
}

code {
  font-family: Monaco, "Courier New", monospace;
  font-size: 12px;
  color: blue;
}

h1, h2, h3 {
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-weight: bolder;
  letter-spacing: -1px;
}

h1 {
  font-size: 30px;
  line-height: 1.6em;
}

h2 {
  font-size: 24px;
  line-height: 1.5em;
}

h3 {
  font-size: 20px;
  line-height: 1.4em;
}

ul {
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-size: 12px;
  list-style: none;
}

li {
  display: list-item;
}

.column-left, .column-right {
  float: left;
  height: 100%;
}

.column-left {
  margin: 0 5px 0 20px;
  width: 725px;
}

.column-right {
  width: 210px;
}

#header, #nav, #section, #footer {
  background-color: #FFF;
  display: block;
  overflow: hidden;
  margin: 5px 0;
}

#header {
  background: url("../images/header-bg.png");
  height: 80px;
  -moz-border-radius-topleft: 10px;
  -webkit-border-top-left-radius: 10px;
  -moz-border-radius-topright: 10px;
  -webkit-border-top-right-radius: 10px;
}

#nav, #footer {
  background: #CCC;
}

#nav {
  height: 30px;
}

#footer {
  height: 20px;
}

#nav li, #footer li {
  float: left;
  margin-right: 10px;
}
#nav li {
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
}
#footer li {
  line-height: 20px;
}

#nav a:link, #nav a:visited, #footer a:link, #footer a:visited {
  background: none;
  padding: 5px 5px;
  text-decoration: none;
  color: #FFF;
}
#footer a:link, #footer a:visited {
  color: #666;
}
#nav a:hover, #nav a:active, #footer a:hover, #footer a:active {
  background: #FFF;
  color: #333;
}

.article, #aside {
  height: 100%;
}
.article {
  margin: 5px 0 5px 5px;
}
#aside {
  margin: 17px 5px 0 10px;
}

#aside ul {
  margin-top: 7px;
  font-size: 11px;
  font-weight: bold;
}

.vr-skinny, .vr-wide-fill {
  float: left;
  height: 100%;
}
.vr-skinny {
  background: #FFF;
  width: 5px;
}
.vr-wide-fill {
  background: #333;
  width: 200px;
}