
.ie7 img
  -ms-interpolation-mode bicubic;

.ir
  background-repeat no-repeat
  display block
  overflow hidden
  text-align left
  direction ltr
  text-indent -999em

.hidden
  display none
  visibility hidden

.invisible
  visibility hidden

.clearfix:before .clearfix:after
  content "\0020"
  display block
  height 0
  visibility hidden

.clearfix:after
  clear both

.clearfix
  zoom 1

