
@media (min-device-width:1024px) and (max-width:960px),(min-device-width:768px) and (max-device-width:1024px) and (orientation:portrait)
  #ribbon
    display none

@media (min-device-width:1024px) and (max-width:747px),(max-device-width:480px) and (orientation:landscape)
  #container
    width 470px

  #ribbon
    display none

@media (min-device-width:1024px) and (max-width:469px),(max-device-width:480px) and (orientation:portrait)
  #container
    width 310px

  #ribbon
    display none

