
// Dark
body_bg = #111
body_color = #999
body_border = 1px dotted #999
body_link = #96CDFF
body_hover = #0080FF
header_color = #FF9600
header_hover = #FFCD00
tap_highlight = body_link
code_bg = #000
code_color = #999
block_color = code_color
th_border = 1px solid #666
td_border = 1px dotted #555
select_bg = #888
select_color = body_color
menu_bg = rgba(255,255,255,0.2)
menu_border = body_border
menu_font_weight = bold
menu_font_shadow = none

menu_border_radius = 8px
menu_shadow_dimensions = 0px 2px 2px
menu_shadow_static = rgba(0,0,0,0.2)
menu_shadow_hover = rgba(0,0,0,0.4)
menu_shadow_active = rgba(0,0,0,0.4)


@import "./app/stylesheets/stylus/application"

