
// Whitey
body_bg = #FFF
body_color = #444
body_border = 1px dotted #444
body_link = #0091ce
body_hover = #00bce4
header_color = #444
header_hover = #00bce4
tap_highlight = body_link
code_bg = #F8F8F8
code_color = #222
block_color = code_color
th_border = 1px solid #CCC
td_border = 1px dotted #BBB
select_bg = #DDD
select_color = body_color
menu_bg = rgba(255,255,255,0.2)
menu_border = body_border
menu_font_weight = bold
menu_font_shadow = none

menu_border_radius = 8px
menu_shadow_dimensions = 0px 2px 2px
menu_shadow_static = rgba(0,0,0,0.2)
menu_shadow_hover = rgba(0,0,0,0.4)
menu_shadow_active = rgba(0,0,0,0.4)


@import "./app/stylesheets/stylus/application"

