
/* html5doctor.com Reset Stylesheet (Eric Meyer's Reset Reloaded + HTML5 baseline) */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  background: transparent;
  border: 0;
  font-size: 100%;
  font: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul, nav li {
  list-style-image: none;
  list-style: none;
  margin: 0;
}


blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  border: 0;
  border-top: 1px dotted #444;
  display: block;
  height: 1px;
  margin: 1em 0;
  padding: 0;
}

/******************************************************************************/
body {
  font: 18px/1.5 sans-serif;
  *font-size: small;
}

select, input, textarea, button {
  font: 99% sans-serif;
}

pre, code, kbd, samp {
  font-family: monospace, sans-serif;
}
/******************************************************************************/

html {
  overflow-y: scroll;
}

ul, ol {
  margin-left: 2em;
}

ol {
  list-style-type: decimal;
}

small {
  font-size: 85%;
}

strong, th {
  font-weight: bold;
}

td {
  vertical-align: top;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

pre, code {
  background-color: #F8F8FF;
  border: 1px dotted #444;
  color: #444;
}

pre {
  padding: 0.5em;
  white-space: pre-line;
  white-space: pre-wrap;
  white-space: pre;
  word-wrap: break-word;
}

code {
  padding: 0 0.2em;
}

::-moz-selection {
  background: #444;
  color: #fff;
  text-shadow: none;
}
::selection {
  background: #444;
  color: #fff;
  text-shadow: none;
}

a:hover, a:active {
  outline: none;
}

a:link {
  -webkit-tap-highlight-color: #FF5E99;
}

.ie7 img {
  -ms-interpolation-mode: bicubic;
}

/******************************************************************************/

body {
  background-color: #FFF;
  color: #000;
  font-family: Georgia, "Times New Roman", Times, serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, "Times New Roman", Times, Georgia, serif;
  font-weight: bold;
  margin-top: 1.0em;
}

h1 {
  font-size: 200%;
  margin-top: 0;
}

h2 {
  border-top: 4px solid #e0e0e0;
  font-size: 180%;
  padding-top: 0.5em;
}

h2:first-child {
  border: none;
  margin-top: 0;
  padding-top: 0;
}

h3 {
  border-bottom: 1px dotted #444;
  font-size: 140%;
  margin-bottom: 0.3em;
  padding-bottom: 0.2em;
}

h4 {
  font-size: 140%;
}

h5 {
  font-size: 120%;
}

h6 {
  font-size: 120%;
  font-style: italic;
}

a, a:active, a:visited {
  color: #607890;
}

a:hover {
  color: #036;
}

/******************************************************************************/

#container {
  margin: 0 auto;
  overflow: hidden;
  width: 960px;
}

header {
  margin: 1em 0 2em 0;
}

header h1 {
  font-size: 120%;
  text-align: right;
  font-weight: normal;
}

header hr {
  margin: 0;
}

footer {
  margin: 2em 0;
}

footer hr {
  margin: 0 0 0.5em 0;
}

footer nav {
  float: right;
  font-size: 85%;
}

footer nav ul li {
  float: left;
  margin-left: 1em;
}

footer nav ul li a {
  text-decoration: none;
}

footer nav ul li a:hover {
  text-decoration: underline;
}

/******************************************************************************/
.ir {
  background-repeat: no-repeat;
  display: block;
  overflow: hidden;
  text-align: left; direction: ltr;
  text-indent: -999em;
}

.hidden {
  display: none;
  visibility: hidden;
}

.invisible {
  visibility: hidden;
}

.clearfix:before, .clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  visibility: hidden;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  zoom: 1;
}

/******************************************************************************/

@media (min-device-width:1024px) and (max-width:960px),
(min-device-width:768px) and (max-device-width:1024px) and (orientation:portrait) {
  #container {
    width: 748px;
  }
}

@media (min-device-width:1024px) and (max-width:747px),
(max-device-width:480px) and (orientation:landscape) {
  #container {
    width: 470px;
  }
}

@media (min-device-width:1024px) and (max-width:469px),
(max-device-width:480px) and (orientation:portrait) {
  #container {
    width: 310px;
  }
}

