article, aside, details, figcaption, figure,
footer, header, hgroup, nav, menu, section {
  display: block; }

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, embed, a:hover, a:active, a:focus,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0; }

html {
  font-size: 100%;
  line-height: 1.2;
  overflow-y: scroll;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  background: white;
  color: #444444;
  font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif; }

hr {
  border: 0;
  border-top: 1px dotted #444444;
  display: block;
  height: 1px; }

::-moz-selection {
  background: #268bd2;
  color: white;
  text-shadow: none; }

::selection {
  background: #268bd2;
  color: white;
  text-shadow: none; }

a {
  color: #268bd2;
  text-decoration: none; }

a:visited {
  color: #268bd2;
  text-decoration: none; }

a:focus {
  outline: thin dotted; }

a:hover, a:active {
  outline: 0;
  text-decoration: none; }

a:hover {
  color: #666666; }

a:active {
  color: #666666; }

a:link {
  -webkit-tap-highlight-color: #268bd2; }

img {
  border: 0;
  max-width: 100%;
  -ms-interpolation-mode: bicubic; }

abbr[title], acronym[title], dfn[title] {
  border-bottom: 1px dotted;
  font-style: italic; }

b, strong {
  font-style: bold; }

i, em {
  font-style: italic; }

pre, code, kbd, samp {
  font-family: "Bitstream Vera Sans Mono", "Menslo LG M", "Menlo", "Monaco", monospace;
  _font-family: "Bitstream Vera Sans Mono", "Menslo LG M", "Menlo", "Monaco", monospace; }

code, kbd, samp {
  background: ghostwhite;
  border: 1px solid #dedede;
  font-size: 85%;
  padding: 0 0.3em; }

pre {
  font-size: 16px;
  font-size: 1rem;
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
  background: ghostwhite;
  border: 1px solid #dedede;
  margin: 1em 0;
  padding: 0.75em; }

pre code {
  padding: 0;
  border: 0;
  background: transparent; }

blockquote {
  margin: 1em;
  padding: 0 10%; }

blockquote p, blockquote q {
  font-size: 16px;
  font-size: 1rem;
  font-style: italic;
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif; }

mark {
  background: #ffc40d; }

big {
  font-size: 115%; }

small, cite, figure figcaption {
  font-size: 85%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

address {
  font-style: normal;
  margin: 1em 0; }

h1, h2, h3, h4, h5, h6 {
  color: #444444;
  padding-bottom: 0.125em;
  line-height: 1; }

h1 {
  font-size: 16px;
  font-size: 1rem; }

h2 {
  font-size: 30px;
  font-size: 1.875rem;
  margin: 1em 0 0.5em;
  border-bottom: 1px solid #444444; }

h3 {
  font-size: 24px;
  font-size: 1.5rem;
  margin: 0.75em 0 0.25em; }

h4 {
  font-size: 20px;
  font-size: 1.25rem;
  margin: 0.75em 0 0.25em; }

h5 {
  font-size: 18px;
  font-size: 1.125rem; }

h6 {
  font-size: 18px;
  font-size: 1.125rem;
  font-style: italic; }

p, li {
  font-size: 14px;
  font-size: 0.875rem;
  font-style: normal; }

ul {
  list-style: square inside; }

ol {
  list-style: decimal-leading-zero inside; }

ul li, ol li {
  margin-left: 0.75em; }

ul ul li, ul ol li,
ol ul li, ol ol li {
  margin-left: 1.75em; }

nav ul, nav ol {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0; }
  nav ul ul li, nav ul ol li, nav ul li, nav ol ul li, nav ol ol li, nav ol li {
    margin-left: 0; }

dl dt {
  font-size: 12px;
  font-size: 0.75rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 0.75em; }
  dl dt:after {
    content: ":"; }

dl dd {
  font-size: 14px;
  font-size: 0.875rem; }

table {
  background: transparent;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%; }
  table thead, table tfoot {
    font-size: 11px;
    font-size: 0.6875rem;
    color: #444444;
    font-weight: bold; }
  table caption {
    font-size: 12px;
    font-size: 0.75rem;
    color: #444444;
    font-weight: bold;
    margin-bottom: 0.3125em;
    text-align: left;
    text-transform: uppercase; }
  table thead {
    background: none;
    color: #444444;
    text-transform: uppercase; }
    table thead a, table thead a:visited {
      color: #268bd2; }
    table thead a:hover {
      color: #444444; }
  table tbody {
    background: none; }
  table th, table td {
    padding: 0.625em;
    text-align: left; }
  table th {
    font-weight: bold; }
  table tfoot {
    background: none; }
  table thead tr {
    border-bottom: 1px solid #999999; }
  table tbody tr {
    border-top: 1px solid #999999; }
    table tbody tr:last-child {
      border-bottom: 1px solid #999999; }
  table tfoot tr, table tfoot td {
    padding: 0.3125em 0.625em; }
  table tfoot tr {
    border-bottom: 1px solid #999999; }

table.box {
  /* Override when vborder is attached to the same class */ }
  table.box thead tr {
    border: 1px solid #999999; }
  table.box tbody tr {
    border: 1px solid #999999; }
    table.box tbody tr:last-child {
      border-bottom: 1px solid #999999; }
  table.box tfoot tr {
    border: 1px solid #999999;
    border-top-color: transparent; }
  table.box thead th:first-child {
    border-left-color: #999999 !important; }
  table.box thead th:last-child {
    border-right-color: #999999 !important; }
  table.box tbody td:first-child {
    border-left-color: #999999 !important; }
  table.box tbody td:last-child {
    border-right-color: #999999 !important; }

table.vborder thead th {
  border-left: 1px solid #999999;
  border-right: 1px solid #999999; }
  table.vborder thead th:first-child {
    border-left-color: transparent; }
  table.vborder thead th:last-child {
    border-right-color: transparent; }
table.vborder tbody td {
  border-left: 1px solid #999999;
  border-right: 1px solid #999999; }
  table.vborder tbody td:first-child {
    border-left-color: transparent; }
  table.vborder tbody td:last-child {
    border-right-color: transparent; }

table.zebra tbody tr:nth-child(odd), table.zebra tbody tr.odd {
  background-color: white; }
table.zebra tbody tr:nth-child(even), table.zebra tbody tr.even {
  background-color: #eeeeee; }

table.thead-decorate thead {
  background-color: #eeeeee; }

table.tfoot-decorate tfoot {
  background-color: #eeeeee; }

.container {
  max-width: 760px;
  margin: 25px auto;
  padding: 0 1em; }

.home-nav ul li,
.nav ul li {
  display: inline; }
.home-nav ul li h2,
.home-nav ul li h4,
.nav ul li h2,
.nav ul li h4 {
  display: inline;
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal; }
.home-nav .simple,
.nav .simple {
  color: #999999; }

.nav {
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px dotted #444444; }
  .nav img {
    -webkit-border-radius: 4;
    -moz-border-radius: 4;
    border-radius: 4;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    margin-right: 1em; }

.home .content h1 > img {
  display: block;
  margin: 50px auto 0;
  max-width: 100%; }

.home .nav {
  display: none; }

.home-nav {
  margin-top: 50px;
  text-align: center; }
