
// Primary container used everywhere
.container
  margin: 0 auto 0

// index.html
.content
  h1 > img
    display: block
    margin: 75px auto 0
    max-width: 100%

.utility
  margin-top: 50px
  text-align: center

  ul li
    display: inline
    margin-right: 1em
    &:last-child
      margin-right: 0

  ul li h2
    display: inline
    font-size: 1.5em
    border: 0
    margin: 0

.footer
  margin: 25px 0
  h3
    color: #f1f1f1
    text-align: center
    font-size: 1.5em
    &:before, &:after
      content: "."

