
.container
  margin: 100px auto
  h1
    margin-bottom: 50px
  img
    margin: 0 auto
    display: block
    max-width: 100%

  .sub
    margin: 0 auto
    width: 96px
    height: 96px
    // max-width: 5%

