
// Typography
abbr[title], acronym[title], dfn[title]
  border-bottom: 1px dotted
  font-style: italic

b, strong
  font-style: bold

i, em
  font-style: italic

pre, code, kbd, samp
  font-family: $code_norm
  _font-family: $code_norm

code, kbd, samp
  background: $code_bg
  border: 1px solid $code_border
  font-size: 85%
  padding: 0 .3em

pre
  +font-sizes(16)
  white-space: pre
  white-space: pre-wrap
  word-wrap: break-word
  background: $pre_bg
  border: 1px solid $pre_border
  margin: 1em 0
  padding: .75em

pre code
  padding: 0
  border: 0
  background: transparent

blockquote
  margin: 1em
  padding: 0 10%

blockquote p, blockquote q
  +font-sizes(16)
  font-style: italic
  font-family: $serif_norm

mark
  background: $yellow

big
  font-size: 115%

small, cite, figure figcaption
  font-size: 85%

sub, sup
  font-size: 75%
  line-height: 0
  position: relative
  vertical-align: baseline

sup
  top: -0.5em

sub
  bottom: -0.25em

address
  font-style: normal
  margin: 1em 0

// Base Text
h1, h2, h3, h4, h5, h6
  color: $header_color
  padding-bottom: to_em(2)
  line-height: 1

h1
  +font-sizes(16)

h2
  +font-sizes(30)
  margin: 1em 0 .5em
  border-bottom: 1px solid $border_color

h3
  +font-sizes(24)
  margin: .75em 0 .25em

h4
  +font-sizes(20)
  margin: .75em 0 .25em

h5
  +font-sizes(18)

h6
  +font-sizes(18)
  font-style: italic

p, li
  +font-sizes(14)
  font-style: normal

// Ordered and Unordered Lists
ul
  list-style: square inside

ol
  list-style: decimal-leading-zero inside

ul li, ol li
  margin-left: 0.75em

ul ul li, ul ol li,
ol ul li, ol ol li
  margin-left: 1.75em

// Navigation Lists
nav ul, nav ol
  list-style-image: none
  list-style-type: none
  margin-left: 0
  ul li, ol li, li
    margin-left: 0

// Definition Lists

dl dt
  +font-sizes(12)
  font-weight: bold
  text-transform: uppercase
  margin-top: to_em(12)
  &:after
    content: ":"

dl dd
  +font-sizes(14)

