
    </section>

    <footer id="footer">
      <hr />
      <nav>
        <ul>
          <li id="mkitt"><a href="http://mkitt.net">mkitt.net</a></li>
          <li id="github"><a href="http://github.com/mkitt">github</a></li>
          <li id="twitter"><a href="http://twitter.com/matthewkitt">twitter</a></li>
          <li id="linkedin"><a href="http://www.linkedin.com/pub/matthew-kitt/4/9b1/934">linkedin</a></li>
        </ul>
      </nav>
    </footer>
  </div>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
  <script src="/javascripts/application.js" type="text/javascript"></script>
</body>
</html>

