
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>mkitt</title>
  <meta name="description" content="Online identity for Matthew Kitt">
  <meta name="author" content="Matthew Kitt">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="imagetoolbar" content="no">
  <meta name="apple-touch-fullscreen" content="YES">
  <meta name="apple-mobile-web-app-capable" content="YES">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <link rel="stylesheet" href="/stylesheets/application.css" type="text/css">
</head>

<body lang="en">
  <div class="container">

